@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

/* Shared Styles styles*/



/* Header styles*/
header {
    padding: 52px 135px;
}
/* nav styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    color: var(--Dark-02, #424247);
font-family: Mulish;
font-size: 18px;
font-weight: 400;

}
nav li span{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 700;
}
.company-name{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
.company-name span{
    color: #FF5400;
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
nav a{
    text-decoration: none;
}

.logo-and-name {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px; 
    height: auto;
    margin-right: 10px; 
}

.company-name h3 {
    margin: 0;
}
/* banner styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    height: 400px;
    width: 100%;
    border-radius: 16px;
    background-size: cover;
    margin-top: 25px;
    color: white;
    
}
.banner-content h4{
padding: 60px;   
 color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 64px;
font-weight: 800;

}
.banner-content p{
   
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%);
}

.form-container{
    display:  flex;
    align-items: center;
    justify-content: center;


}
.form-background{
    display:  flex;
    gap: 10px;

    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);


}
input,
select,
button {
    margin: 10px 10px;
    color: rgba(19, 19, 24, 0.50);


    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    width: 124px; 
    height: 54;
    border: none; 
    outline: none; 

}

button{
background: #FF5400;
color: #FFF;

}



button:hover {
    background-color: #2074a0; /* Change the hover background color as needed */
}

@media screen and (max-width: 576px) {
    
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    /*tablet*/
    @media screen and  (min-width:576px) and (max-width:960px){
        header{
            padding: 20px;
        }
        nav{
            flex-direction: column;
        }
        
    }
    