@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Mulish", sans-serif;
}

/* Shared Styles styles*/

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 800;
    padding: 20px 25px;
    margin-bottom: 5px;
    border-style: none;
    cursor: pointer;

}

/* Header styles*/
header {
    padding: 52px 135px;
}

/* nav styles*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
    align-items: center;
    /* Align the items vertically in the center */

}

nav li {
    list-style: none;
    margin-right: 30px;
    text-align: center;
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;

}

nav li span {
    color: #FF5400;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
}

/* hamburger menu */

.menu-toggle {
    display: none;
    /* Initially hide the hamburger menu toggle */
    cursor: pointer;
    margin-left: 100px;
    /* Push the menu toggle to the right */


}

.bar {
    width: 25px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;

}

.company-name {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.company-name span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

nav a {
    text-decoration: none;
}

.logo-and-name {
    display: flex;
    align-items: center;



}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.company-name h3 {
    margin: 0;
    white-space: nowrap;
    /* Prevent the company name from breaking into two lines */

}

/* banner styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    height: 400px;
    width: 100%;
    border-radius: 16px;
    background-position: center;
    margin-top: 25px;
    color: white;

}

.banner-content h4 {
    padding: 60px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 2px;


}

.banner-content p {

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;


}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

}

.form-background {
    display: flex;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);


}

input,
select,
button {
    margin: 10px 10px;
    color: rgba(19, 19, 24, 0.50);
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    width: 124px;
    height: 54;
    border: none;
    outline: none;

}

button {
    background: #FF5400;
    color: #FFF;

}



button:hover {
    background-color: #2074a0;
    /* Change the hover background color as needed */
}

/* main section styles
 */
main {
    padding: 52px 135px;
}

.First-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.First-content>div {
    width: 48%;
    /* Adjust the width as needed */
}

.First-content h4 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.First-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.First-content li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.First-content img {
    max-width: 100%;
    height: auto;
}


.Second-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;


}

.Second-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.image-box .row {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    /* Adjust the gap as needed */
}

.image-box .row img {
    flex: 1;
    box-sizing: border-box;
    border-radius: 8px;
    object-fit: cover;
    /* Ensure the image covers the container */
    max-width: 100%;
    /* Images should cover the entire row */
    width: 0;
    /* Ensure the image takes up the available width */
}

.Third-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Third-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;


}

.Third-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.Third-content h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
}

.div-in-one-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.div-in-one-row p {
    text-align: justify;
}

.third-div {
    padding: 20px;
    margin: 10px;
    width: 50%;
    /* Set the width to a desired value */
    box-sizing: border-box;
    /* Include padding and border in total width */
}

.third-div h4 {
    text-align: justify;

}

.first-div {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.second-div {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.third-div {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.first-div,
.second-div,
.third-div {
    padding: 20px;
    margin: 10px;
    /* Adjust the margin as needed for space between divs */
    text-align: justify;
    align-items: center;
}

.first-div,
.second-div,
.third-div p {

    text-align: justify;
}

.Forth-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Forth-content h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;


}

.Forth-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.Forth-content h6{
    color: #FF5400;
font-size: 20px;
font-weight: 800;
}
.Forth-content h5{
    color: #131318;
font-size: 24px;
font-weight: 800;
}

.first-offer {
    border-radius: 16px;
    background: url('../Images/Group\ 39.png'), lightgray 50% / cover no-repeat;
    width: 100%;
    border-radius: 16px;
    background-position: center;
    margin-top: 25px;
    color: white;
}

.first-offer-content {
    padding: 20px;
    margin: 30px;
    width: 50%;
    /* Set the width to a desired value */
    box-sizing: border-box;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: justify;
    float: right; /* Float the element to the right */



}

/* Additional styling for better readability */
.first-offer-content p {
    text-align: justify;
    margin-bottom: 10px; /* Add some bottom margin for better spacing */
}

.second-offer {
    border-radius: 16px;

    border-radius: 16px;
    background: url('../Images/Group\ 40.png'), lightgray 50% / cover no-repeat;
    width: 100%;
    border-radius: 16px;
    background-position: center;
    margin-top: 25px;
    color: white;
}

.second-offer-content {
    padding: 20px;
    margin: 30px;
    width: 50%;
    /* Set the width to a desired value */
    box-sizing: border-box;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: justify;

}
.second-offer-content p {
    text-align: justify;
    margin-bottom: 10px; /* Add some bottom margin for better spacing */
}

.third-offer {
    border-radius: 16px;
    background: url('../Images/Group\ 39.png'), lightgray 50% / cover no-repeat;
    width: 100%;
    border-radius: 16px;
    background-position: center;
    margin-top: 25px;
    color: white;
    text-align: justify;

}
.third-offer-content {
    padding: 20px;
    margin: 30px;
    width: 50%;
    /* Set the width to a desired value */
    box-sizing: border-box;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    text-align: justify;
    float: right; /* Float the element to the right */


}
.third-offer-content p {
    text-align: justify;
    margin-bottom: 10px; /* Add some bottom margin for better spacing */
}

.Fifth-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Fifth-content>div {
    width: 48%;
    /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
}

.Fifth-content h4 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.Fifth-content p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.Fifth-content li {
    color: #131318;
font-size: 16px;
font-weight: 700;
}

.Fifth-content iframe {
    max-width: 100%;
    border-radius: 8px;
    max-height: 100%;
}
.Sixth-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Sixth-content h6{ 
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: -15px;
    color: #131318;
font-size: 24px;
font-weight: 800;
text-align: justify;
}
.Sixth-content p{
    margin-right: 50px;

    margin-left: 50px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.Sixth-content>div {
    width: 48%;
    /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
}

form {
    max-width: 400px;
    margin: 50px auto;
    border-radius: 16px;
border: 1px solid #FF5400;
}

.Sixth-content input, .btn-8 {
    width: 80%;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 2px solid;
}
.footer {
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.footer-logo-and-name {
    margin-top: 100px;

    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add margin between logo and extra content */
}

.footer-logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.footer-company-name h3 {
    margin: 0;
    white-space: nowrap;
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-company-name span {
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.extra-content {
    text-align: center;
    margin-bottom: 100px;

}

.extra-content p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
hr {
    width: 100%;
    margin: 10px;
    color: rgb(219, 153, 26);
}

.social {
    display: flex;
    flex-direction: column;
    margin: auto; /* Updated to center horizontally */
    font-size: 35px;
    align-items: center;
    justify-content: space-evenly;
}

.social-icons a i {
    color: #000000; /* Black color */
    padding: 10px; /* Add padding for better visibility */
    border-radius: 50%; /* Optional: Round the corners for a circular shape */
}




span {
    margin: 10px;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}



/* General Styles */
@media only screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        margin-right: auto 0;

    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 70px;
        left: 0;
        position: absolute;
        text-align: center;
        margin-top: 10px;
        z-index: 1;

    }

    nav>ul.show {
        display: flex;
        /* Show the nav list when the hamburger menu is clicked */

    }

    nav li {
        margin: 0;
        padding: 10px;
    }

    .logo-and-name {
        flex-direction: row;
        align-items: center;
    }

    .logo img {
        max-width: 80px;
        /* Adjust the max-width for the logo */
        height: auto;
        margin-right: 10px;
    }

    .company-name h3,
    .company-name span {
        font-size: 20px;
        margin-top: 10px;

        /* Adjust font size as needed */
    }

    .banner-content {
        text-align: center;
    }

    .banner-content h4 {
        padding: 20px;
        font-size: 24px;
    }

    .banner-content p {
        font-size: 14px;
        margin-bottom: 20px;
        /* Add margin to separate p from form container */

    }

    .form-container {
        width: 100%;
        max-width: 300px;
        /* Adjust the max-width as needed */
        margin: 0 auto;
        padding: 8px;
        /* Center the form container and add margin */


    }

    .form-background {
        flex-direction: column;
        align-items: center;
        padding: 8px;
        /* Center the form container and add margin */

        gap: 5px;
    }

    input,
    select,
    button {
        width: 100%;
        max-width: 100%;
        /* Make the input, select, and button fill the container */
        box-sizing: border-box;
        /* Include padding and border in the total width */


    }

    main {
        padding: 20px;

    }

    .First-content {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
        /* Center content in column layout */
    }

    .First-content>div {
        width: 100%;
        /* Adjust the width for full width */
        margin-bottom: 20px;
        /* Add space between the two divs */
    }

    .First-content h4 {
        font-size: 24px;
        /* Adjust heading font size */
    }


    .First-content p,
    .First-content li {
        font-size: 14px;
        /* Adjust paragraph and list item font size */
    }

    .First-content img {
        width: 100%;
        /* Make the image fill the container */
        height: auto;
    }

    .Second-content h3 {
        font-size: 24px;
        /* Adjust heading font size */
    }


    .Second-content p {
        font-size: 14px;
        /* Adjust paragraph and list item font size */
    }

    .image-box .row {
        flex-direction: column;
        align-items: center;
    }

    .image-box .row img {
        max-width: 100%;
        width: 100%;
    }

    .div-in-one-row {

        flex-direction: column;
    }

    .third-div {
        width: 100%;
    }
    

    .first-offer-content,
    .second-offer-content,
    .third-offer-content {
        width: 50%;
        margin: 8px auto;
        max-height: 300px; /* Set a maximum height as needed */
        overflow: hidden; 
        margin-top: 80px;
        margin-right: 50px;/* Hide overflow */
    }

    .first-offer-content,
    .second-offer-content,
    .third-offer-content h5,
    .third-offer-content p,
    .third-offer-content h6,
    .second-offer-content h5,
    .second-offer-content p,
    .second-offer-content h6,
    .first-offer-content h5,
    .first-offer-content p,
    .first-offer-content h6 {
        font-size: 10px; /* Adjust font size as needed */
    }
    .first-offer-content p,
.second-offer-content p,
.third-offer-content p,
.first-offer-content h6,
.second-offer-content h6,
.third-offer-content h6 {
    margin-bottom: 5px; /* Adjust the margin as needed */
}

.first-offer-content button,
.second-offer-content button,
.third-offer-content button {
    margin-top: 5px; /* Adjust the margin as needed */
}

.Fifth-content {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    /* Center content in column layout */
}

.Fifth-content>div {
    width: 100%;
    /* Adjust the width for full width */
    margin-bottom: 20px;
    /* Add space between the two divs */
}

.Fifth-content h4 {
    font-size: 24px;
    /* Adjust heading font size */
}


.Fifth-content p,
.Fifth-content li {
    font-size: 14px;
    /* Adjust paragraph and list item font size */
}

.Fifth-content iframe {
    width: 100%;
    /* Make the image fill the container */
    height: 100%;
} 
.Sixth-content, .Sixth-content>div, form {
    width: 100%;
    margin-top: 5px;
}

.Sixth-content {
    flex-direction: column;
}

.Sixth-content h6
{
    color: #131318;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
}
.Sixth-content p
{
    color: #5A5A5D;
font-size: 14px;
font-weight: 400;
}


}

/* Tablet Styles */
@media only screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 30px;
    }

    .banner {
        height: 300px;
    }

    .banner-content h4 {
        padding: 40px;
        font-size: 48px;
    }

    .banner-content p {
        font-size: 16px;
    }

    .First-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .First-content>div {
        width: 48%;
        margin-bottom: 0;
        /* Reset margin for the divs */
    }

    .First-content h4 {
        font-size: 40px;
    }

    .First-content p,
    .First-content li {
        font-size: 16px;
    }

    .First-content img {
        max-width: 100%;
        height: auto;
    }

    .Second-content h3 {
        font-size: 40px;
    }

    .Second-content p {
        font-size: 16px;
    }


}